<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

    <body>
    <!--Add a nav bar here -->
<!--    <nav class="navbar navbar-light bg-light">-->
<!--        <div class="container-fluid">-->
<!--            <div class="navbar-header">-->
<!--              <a class="navbar-brand" href="#">Online Course</a>-->
<!--            </div>-->
<!--            <ul class="nav navbar-nav navbar-right d-flex">-->
<!--                <li><a class="btn btn-link" href="{% url 'djangoapp:about' %}">About</a></li>-->
<!--                <li><a class="btn btn-link" href="{% url 'djangoapp:contact' %}">Contact Us</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
        <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Dealership Review</a>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Username" aria-label="Username">
                <input class="form-control me-2" type="password" placeholder="Password" aria-label="Password">
                <button class="btn btn-outline-primary" type="submit">Login</button>
                <button class="btn btn-outline-secondary" type="submit">Signup</button>
            </form>
        </div>
    </nav>
    <!--Add a dealer table here -->

    </body>

</html>
